* {
    box-sizing: border-box;
}

@font-face {
    font-family: Lato-reg;
    src: url(../font/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-bold;
    src: url(../font/Lato-Bold.ttf);
}

/* BASE */

html {
    font-family: Lato-reg, serif;
    line-height: 1.7;
    color: #4f4e4e;
}

body {
    font-size: 0.875rem;
    margin: 0;
}

h1 {
    text-transform: capitalize;
    display: inline;
}

h2 {
    font-size: 18px;
}

h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 400;
}

img {
    max-width: 100%;
}

/* LAYOUT */

.container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    border-right: #e1e0e0 solid 1px;
    border-left: #e1e0e0 solid 1px;
}

.spacer_200 {
    height: 195px;
}

.spacer_40 {
    height: 40px;
}

/* COMPONENTS */

/* header */

.header {
    position: fixed;
    height: 130px;
    background-color: #292929;
    width: 100%;
    border-bottom: 6px solid #1e1e1e;
}

.inner-header {
    height: 130px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    border-right: #1e1e1e solid 1px;
}

/* buttons */

.buttons {
    margin-inline-start: 100px;
    font-family: Lato-bold;
    font-size: 1.025rem;
}

.btn {
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    border-left: #1e1e1e solid 1px;
    border-bottom: 6px solid #1e1e1e;
    height: 130px;
}

.btn:hover {
    border-bottom: 6px solid #58c93a;
    color: #58c93a;
    
}


.logo {
    /* border-bottom: 5px solid rgb(51, 255, 0); */
    height: 130px;
    width: 100;
}

/* post items */

.post {
    margin-bottom: 55px;
}

.post-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    color: #606060;
    margin-left: 40px;
    min-height: 307px;
}

.post-text h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2rem;
}

.post img {
    margin-top: 15px;
}

.read-more {
    height: 40px;
    width: fit-content;
    border-radius: 20px;
    border: 2px solid #c2c2c2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    transition: width 2s;

}

.read-more:hover {
    color: #58c93a;
    border: 2px solid #58c93a;
}

.read-more:hover::after {
    content: " →";
}


.pagination {
    height: 75px;
    border-top: 1px solid #e1e0e0;
    padding-left: 30px;
    padding-right: 30px;
    color: #818181;
}

.footer {
    background-color: #f8f8f8;
    height: 315px;
    border-top: 1px solid #e1e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer img {
    max-width: fit-content;
}

.social-bar {
    width: 230px;
}

.social-btn {
    width: 40px;
    height: 40px;
    background-color: #e5e5e5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

i {
    font-size: 1em;
    color: #fff;
}

.social-btn:hover {
    background-color: #516fad;
}

.hamburger {
    visibility: hidden;
    width: 0px;
    height: 0px;
    position: fixed;
    top: -50px;
}

/* flex helpers */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* list-helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*---- Media Queries ---------*/

@media(max-width: 1000px) {
    .post {
        flex-direction: column;
    }
    .post-text {
        max-width: 470px;
        margin-left: 0;
        min-height: 120px;
    }

    .post-text h1{
        margin-top: 10px;
    }
}

@media(max-width: 730px) {
    .inner-header {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        border-right: 0px;
    }
    .buttons {
        flex-direction: column;
        background-color: #292929;
        position: fixed;
        top: 130px;
        right: -140px;
        width: 140px;
    }
    .hamburger {
        visibility: visible;
        position: fixed;
        top: 0;
        right: 0;
        width: 140px;
        height: 130px;
        justify-content: center;
    }
    .btn {
        width: 140px;
        display: flex;
        direction: column;
        justify-content: center;
    }

    .post-text {
        /* width: 468px; */
        /* margin-left: 0; */
    }

}

.move {
    right: 0px;
}